<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>MatakuliahController</servlet-name>
        <servlet-class>com.unpam.controller.MatakuliahController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NilaiController</servlet-name>
        <servlet-class>com.unpam.controller.NilaiController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LaporanNilaiController</servlet-name>
        <servlet-class>com.unpam.controller.LaporanNilaiController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MatakuliahController</servlet-name>
        <url-pattern>/MatakuliahController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NilaiController</servlet-name>
        <url-pattern>/NilaiController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LaporanNilaiController</servlet-name>
        <url-pattern>/LaporanNilaiController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
